@model IEnumerable<School.Models.StudentCheck>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Students</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <h2>Here is the list of students attending the school</h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Name</th><th>Email</th><th>Phone</th><th>Semester</th></tr>
            </thead>
            <tbody>
                @foreach (School.Models.StudentCheck r in Model) {
                    <tr>   
                        <td>@r.Name</td>
                        <td>@r.Email</td>
                        <td>@r.Phone</td>
                        <td>@r.Semester</td>
                    </tr>
                }
            </tbody>
        </table>
        Click <a asp-action="Index">here</a> to go back.
    </div>
</body>
</html>
